@import url(https://fonts.googleapis.com/css?family=Courgette);.page-header {
  height: 500px;
  background: #111111;
  background-image: url("/images/header.png");
  background-position: center;
  background-size: cover;
  background-position-y: 94.7%; }
  .page-header h1 {
    color: white;
    font-family: 'Courgette', cursive;
    font-size: 50px; }
    @media (min-width: 960px) {
      .page-header h1 {
        font-size: 100px; } }
  .page-header p {
    color: white;
    font-weight: bold; }
  .page-header:before {
    content: '';
    position: absolute;
    height: 500px;
    width: 100%;
    background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
    opacity: .6; }
  .page-header .container {
    text-align: center; }
    .page-header .container .header-content {
      padding: 150px 0px 0px 0px; }
      @media (min-width: 960px) {
        .page-header .container .header-content {
          padding: 150px; } }

#services h2 {
  font-family: 'Courgette', cursive; }

.beta {
  margin-top: 40px;
  margin-bottom: 40px; }

.jumbotron {
  position: relative;
  background: url("/images/header.png") center center no-repeat;
  background-size: cover; }
  .jumbotron:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
    opacity: .6; }

.icon {
  font-size: 100px;
  text-align: center; }

footer {
  background: #333;
  padding: 60px 0px 30px;
  text-align: center;
  margin-top: 40px; }
  footer .social-icons {
    margin-bottom: 20px; }
    footer .social-icons ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      footer .social-icons ul li {
        display: inline; }
        footer .social-icons ul li.facebook a {
          color: #4867aa; }
          footer .social-icons ul li.facebook a:hover {
            background: #4867aa; }
        footer .social-icons ul li.twitter a {
          color: #1da1f2; }
          footer .social-icons ul li.twitter a:hover {
            background: #1da1f2; }
        footer .social-icons ul li a {
          display: inline-block;
          margin-left: 5px;
          margin-right: 5px;
          margin-bottom: 15px;
          border-radius: 4px;
          border: 1px solid rgba(255, 254, 254, 0.07);
          line-height: 40px;
          width: 40px;
          height: 40px;
          text-align: center;
          font-size: 16px; }
          footer .social-icons ul li a:hover {
            color: #ffffff; }
  footer .site-info p {
    line-height: 34px;
    color: #fff; }
