<div class="jumbotron">
  <h2>Welcome to Come Bike</h2>
  <p class="lead">An Open Source Bike Event Calendar</p>
  <%= link to: auth_path(@conn, :request, :facebook), class: "btn btn-primary"  do %>
    Sign In With Facebook
  <% end %>
</div>
