@import url('https://fonts.googleapis.com/css?family=Courgette');

html{
  word-wrap: break-word;
}
.page-header {

  &:before {
    content: '';
    position: absolute;
    height: 500px;
    @media (max-width: 959px) {
      height: 333px;
    }
    width: 100%;
    background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
    opacity: .6;
    z-index: 0;

  }

  height: 500px;
  overflow: hidden;
  @media (max-width: 959px) {
    height: 333px;
  }


  #myvid {
    z-index: -1;
    height: 500px;
    @media (max-width: 959px) {
      height: 333px;
    }
    position: relative;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow: hidden;

    object-fit: cover;
  }
  #myvid > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /* 1. No object-fit support: */
  @media (min-aspect-ratio: 16/9) {
    #myvid > iframe { height: 300%; top: -100%; }
  }
  @media (max-aspect-ratio: 16/9) {
    #myvid > iframe { width: 300%; left: -100%; }
  }
  /* 2. If supporting object-fit, overriding (1): */
  // @supports (object-fit: cover) {
  //   #myvid > iframe {
  //     top: 0; left: 0;
  //     width: 100%; height: 100%;
  //     object-fit: cover;
  //   }
  // }


  .container{

    z-index: 1;
    padding-top: 40px;
    @media (min-width: 960px) {
      padding-top: 160px;
      margin-top: -500px;
    }
    @media (max-width: 959px) {
      padding-top: 90px;
      margin-top: -333px;
    }

    .header-content {
      text-align: center;
      h1{
        color: white;
        font-family: 'Courgette', cursive;
        font-size: 50px;

        @media (min-width: 960px) {
          font-size: 100px;
        }
      }

      p{
        color: white;
        font-weight: bold;
      }
    }
  }
}

// @media (max-width: 1439px) {
//   height: 100%;
//   width: 1440px;
//   iframe{
//     height: 100%;
//     width: 100%;
//   }
// }
//
// @media (max-width: 959px) {
//   height: 100%;
//   width: 1440px;
//   iframe{
//     height: 100%;
//     width: 100%;
//   }
// }



#services{
  h2{
    font-family: 'Courgette', cursive;
  }
}
.beta{
  margin-top: 40px;
  margin-bottom: 40px;
}

.jumbotron{
    position: relative;
    // background: url('/images/header.png') center center no-repeat;
    background-size: cover;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
    opacity: .6;
  }
}

.icon{
  font-size: 100px;
  text-align: center;
}

#ride_description {
  height: 300px;
}

footer {
  background: #333;
  padding: 60px 0px 30px;
  text-align: center;
  margin-top: 40px;

  .social-icons {
    margin-bottom: 20px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: inline;

        &.facebook a {
          color: #4867aa;
          &:hover {
            background: #4867aa;
          }
        }
        &.twitter a {
          color: #1da1f2;
          &:hover {
            background: #1da1f2;
          }
        }

        a {
          display: inline-block;
          margin-left: 5px;
          margin-right: 5px;
          margin-bottom: 15px;
          border-radius: 4px;
          border: 1px solid rgba(255,254,254,0.07);
          line-height: 40px;
          width: 40px;
          height: 40px;
          text-align: center;
          font-size: 16px;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
  }

  .site-info p {
    line-height: 34px;
    color: #fff;
  }

}

.article {

  border: 1px solid #e9e9e9;
  box-shadow: 0 2px 0 0 rgba(0,0,0,.016);

  .event-image{
    img{
      width: 100%;
    }
  }
}
