@import url('https://fonts.googleapis.com/css?family=Courgette');

.page-header {
  height: 500px;
  background: #111111;
  background-image: url('/images/header.png');
  background-position: center;
  background-size: cover;
  background-position-y: 94.7%;

  h1{
    color: white;
    font-family: 'Courgette', cursive;
    font-size: 50px;
    @media (min-width: 960px) {
      font-size: 100px;
    }
  }

  p{
    color: white;
    font-weight: bold;
  }
  &:before {
    content: '';
    position: absolute;
    height: 500px;
    width: 100%;
    background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
    opacity: .6;
  }
  .container{
    text-align: center;
    .header-content {
      padding: 150px 0px 0px 0px;
      @media (min-width: 960px) {
        padding: 150px;
      }
    }
  }
}

#services{
  h2{
    font-family: 'Courgette', cursive;
  }
}
.beta{
  margin-top: 40px;
  margin-bottom: 40px;
}

.jumbotron{
    position: relative;
    background: url('/images/header.png') center center no-repeat;
    background-size: cover;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
    opacity: .6;
  }
}

.icon{
  font-size: 100px;
  text-align: center;
}

footer {
  background: #333;
  padding: 60px 0px 30px;
  text-align: center;
  margin-top: 40px;

  .social-icons {
    margin-bottom: 20px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: inline;

        &.facebook a {
          color: #4867aa;
          &:hover {
            background: #4867aa;
          }
        }
        &.twitter a {
          color: #1da1f2;
          &:hover {
            background: #1da1f2;
          }
        }

        a {
          display: inline-block;
          margin-left: 5px;
          margin-right: 5px;
          margin-bottom: 15px;
          border-radius: 4px;
          border: 1px solid rgba(255,254,254,0.07);
          line-height: 40px;
          width: 40px;
          height: 40px;
          text-align: center;
          font-size: 16px;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
  }

  .site-info p {
    line-height: 34px;
    color: #fff;
  }

}

.article {

  border: 1px solid #e9e9e9;
  box-shadow: 0 2px 0 0 rgba(0,0,0,.016);

  .event-image{
    img{
      width: 100%;
    }
  }
}
