<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= assigns[:page_title] || "Come Bike" %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/vendors.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <%#= render_existing @view_module, "styles." <> @view_template, assigns %>
  </head>

    <body>

      <%= render "header.html", conn: @conn, current_user: @current_user %>

      <div class="container">

        <%= render "flash.html", conn: @conn %>

        <main role="main">
          <%= render @view_module, @view_template, assigns %>
        </main>
      </div>

    <%= render "footer.html", conn: @conn, current_user: @current_user %>

    <script src="<%= static_path(@conn, "/js/manifest.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/vendors.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%#= render_existing @view_module, "scripts." <> @view_template, assigns %>
  </body>
</html>
