<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= assigns[:page_title] || "Come Bike" %></title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/vendors.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <%#= render_existing @view_module, "styles." <> @view_template, assigns %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111795026-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-111795026-1');
    </script>

    <link rel="manifest" href="/manifest.json" />
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>

    <%= if Application.get_env(:come_bike, :env) == :prod %>
    <script>
      var OneSignal = window.OneSignal || [];
      OneSignal.push(function() {
        OneSignal.init({
          appId: "bf0dadc4-13d0-4b9f-b6c3-99ad2e584f5f",
          allowLocalhostAsSecureOrigin: true,

        });
      });
    </script>
    <% end %>

  </head>


    <body>

      <%= render "header.html", conn: @conn, current_user: @current_user %>

      <%= render_existing @view_module, "header." <> @view_template, assigns %>

      <div class="container">

        <div class="beta alert alert-primary" role="alert">
          <h4 class="alert-heading text-center"><i class="fas fa-exclamation-triangle"></i> Brain Storming Session 1/13/18 <i class="fas fa-exclamation-triangle"></i></h4>

          <p> INFO: Today (Jan 13th, 2018) at 1pm will are hosting our first meeting to kick off the launch of this project with a brain storming session.</p>
          <p>
            There are two options for attending this meeting: </br>
            <ul>
              <li>
                Online ("Google hangouts") </br>
                At 1pm a link will be posted here and at the event posting on facebook if you would like to attend online.
              </li>
              <li>
                In person ("@ Velo Cult") </br>
                At 1pm you can show up to VeloCult at 1969 NE 42nd Ave, Portland, OR 97213.
                This will be just before the meeting for the WNBR at the same location.
              </li>
            </ul>

          </p>


          <p>We thank you very much for visiting our site, but we regret to inform you that this site is not functional just yet and is under active development</p>
          <hr>
          <p class="">However, we very much want your support and invite you to be a part of that process by contributing time, opinions and whatever skillsets you can offer.</p>
          <p>If you would like to know more please visit the source code repository for our site at <a href="https://github.com/ComeBike">https://github.com/ComeBike</a>.
        </div>

        <%= render "flash.html", conn: @conn %>

        <main role="main">
          <%= render @view_module, @view_template, assigns %>
        </main>
      </div>

    <%= render "footer.html", conn: @conn, current_user: @current_user %>

    <script src="<%= static_path(@conn, "/js/manifest.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/vendors.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= render_existing @view_module, "scripts." <> @view_template, assigns %>
  </body>
</html>
